body * {
    box-sizing: border-box !important;
}

body {
    line-height: 1.5;
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.board {
    margin: auto;
    position: relative;
}

.tile {
    height: 6vw;
    width: 6vw;
    display: inline-block;
    font-size: 5px;
}

.tile-inner {
    border: 1px solid black;
    display: block;
    padding: 2rem;
}

.player1 {
    background: red;
}
.player2 {
    background: yellow;
}

span {
    display: block;
}
.row {
    flex: auto;
    display: flex;
    justify-content: center;
}
