body * {
    box-sizing: border-box !important;
}

body {
    background: white;
    line-height: 1.5;
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.board {
    margin: auto;
    position: relative;
}

.tile {
    height: 12vw;
    width: 12vw;
    max-width: 5rem;
    max-height: 5rem;
    display: block;
    font-size: 1rem;
    border: 0px solid #eee;
    /* vertically align any children elements */
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    flex: auto;
    display: flex;
    justify-content: center;
}

.disabled > * > * {
    background: grey;
}
.row .column {
    background: blue;
    padding: 1px;
}
.row .column .tile {
    background: #eee;
    border-radius: 100%;
}

.player1 {
    background: red !important;
}
.player2 {
    background: yellow !important;
}
.player {
    margin: 0 0.3rem;
    color: #ddd;
    padding: 0.2rem;
}
.player.player1,
.player.player2 {
    box-shadow: 0 0 0.15rem 0.15rem #ddd;
    color: black;
}

.tile:not(.player1):not(.player2):hover {
    background: #ccc !important;
    cursor: pointer;
}

button {
    font-size: 2rem;
    margin: 2rem;
    background: blue;
    padding: 0.5rem 1rem;
    color: white;
    border: 0 none;
    border-radius: 1rem;
    box-shadow: none;
    font-weight: bold;
}
